
#topbar{
position:absolute;
visibility: hidden;
z-index: 100;

}

#leftBar{
position:absolute;
z-index: 1000;
left:5;
top:50;
}


table,tr
{	border:1px solid;
	border-color:#0330A1;
	
}
.pad
{
padding-left:0.54em;
padding-right:0.5em;
text-align:center;
border:1px solid white;
font-family:Courier New;
font-size:8pt;
}

.pad2
{
padding-left:0.3em;
padding-right:0.3em;
text-align:center;
border:1px solid white;
font-family:Courier New;
font-size:10pt;
}
.pS
{
padding-left:0.4em;	
padding-right:0.4em;
text-align:center;
}

a{
cursor:pointer;
font-weight:normal;
font-size:10pt;
font-family:courier new;
}	

.imgSlider
{
position:absolute;
left:73px;
}
.sHd
{
	font-size:10pt;
	font-family:courier new;
	font-weight:normal;
}
td
{
	text-align:center;
}
.pBF
{
font-size:8pt;
font-weight:normal;
}